<html>
<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
        <meta charset="utf-8">
        <title>欢迎{{ username }}</title>
    </head>

<body style="width:100%;height:100%;">
<style>
	body{
		background:url(../../static/assets/img/2.jpg) top left;
		background-size:100% 100%;
		overflow:hidden;
        text-align:center
	}
</style>

<div id="container" style="width:100%;height:100%;border:1px black pink">

<div id="header" style="border:1px black">
<h1 style="margin-bottom:0;text-align:center;color:#ffffff;">欢迎来到智能之家</h1></div>

<div id="menu" style="height:100%;width:20%;float:left;text-align:center;border:1px black">

<div style="height:20%;width:20%;align;centerr;border:1px black;font-weight:bold;color:#ffffff;">
<b>用户1</b>
</div>
<div style="height:20%;width:20%;text-align:center;border:1px black;font-weight:bold;color:#ffffff">
<b>用户2</b>
</div>
<div style="height:20%;width:20%;text-align:center;border:1px black;font-weight:bold;color:#ffffff">
<b>用户3</b>
</div>
<div style="height:20%;width:20%;text-align:center;border:1px black;font-weight:bold;color:#ffffff">
<b>用户4</b>
</div>
<div style="height:20%;width:20%;text-align:center;border:1px black;font-weight:bold;color:#ffffff">
<b>用户5</b>
</div>

</div>

<div id="content1" style="height:100%;width:40%;color:#ffffff;float:left;text-align:center;border:1px black;font-weight:bold;vertical-align:middle">
视频</div>

<div id="content2" style="height:100%;width:40%;color:#ffffff;float:left;text-align:center;border:1px black;font-weight:bold;vertical-align:middle">
文本</div>

</div>
    </body>

</html>